.App
{
	display: flex;
	flex-direction: column;
}

.App .toolbar
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 4px;
	background-color: #AAAAAA;
}

.App .toolbar .left
{
}

.App .toolbar .center
{
}

.App .toolbar .right
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.Ticker
{
	display: flex;
	flex-cirection: row;
	justify-content: space-around;
}

.CoinBadge
{
	display: flex;
	flex-direction: row;
	align-items: center;

	color: inherit;
	background-color: #CCCCCC;
	border-radius: 4px;
	padding: 4px;
	margin: 4px;
	height: 32px;
	cursor: pointer;
}

.CoinBadge:hover
{
	text-decoration: none;
	background-color: #DDDDDD;
}

.CoinBadge.not-link
{
	cursor: default;
}

.CoinBadge .Image
{
	margin: 4px;
}
