.App
{
	display: flex;
	flex-direction: column;
}

.App .toolbar
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 4px;
	background-color: #AAAAAA;
}

.App .toolbar .left
{
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 1.75em;
}

.App .toolbar .left > *
{
	margin-left: 4px;
}

.App .toolbar .center
{
	display: flex;
	flex-direction: row;
}

.App .toolbar .right
{
	display: flex;
	flex-direction: row;
}

.App .toolbar .right > *
{
	margin-right: 4px;
}

.Ticker
{
	display: flex;
	flex-cirection: row;
	justify-content: space-around;
}

.CoinBadge
{
	display: flex;
	flex-direction: row;
	align-items: center;

	color: inherit;
	background-color: #CCCCCC;
	border-radius: 4px;
	padding: 4px;
	margin: 4px;
	height: 32px;
	cursor: pointer;
}

.CoinBadge:hover
{
	text-decoration: none;
	background-color: #DDDDDD;
}

.CoinBadge.not-link
{
	cursor: default;
}

.CoinBadge .Image
{
	margin: 4px;
}

.CoinList .Item
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.CoinList .Item .name
{
	font-size: 2em;
}

.CoinList .Item .owned, .CoinList .Item .value
{
	display: flex;
	flex-direction: row;

	font-size: 1.5em;
}

.CoinList .Item .owned > *, .CoinList .Item .value > *
{
	margin-left: 4px;
}

.well-row
{
	display: flex;
	flex-direction: row;
}

.well-row > *
{
	margin-left: 4px;
}

.well-row > *:first-child
{
	margin-left: 0px;
}

.well-column
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.well-column > *
{
	margin-top: 4px;
}

.well-column > *:first-child
{
	margin-top: 0px;
}

.flex-row
{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.flex-column
{
	display: flex;
	flex-direction: column;
	height: 100%;
}
